.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

/*makes sure that every is full screen, the background is fixed*/
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /*i am allowed to use this when i use position fixed or absolute and it 
  tells me what layer i want to be on. -1 tells me that it should be bellow anything else
  from my app*/
}